<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>customerregisprocess</servlet-name>
        <servlet-class>pack1.CustomerRegisProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisProcess</servlet-name>
        <servlet-class>pack1.CustomerRegisProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealerRegisProcess</servlet-name>
        <servlet-class>pack1.DealerRegisProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayDealTable</servlet-name>
        <servlet-class>pack1.DisplayDealTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCusTable</servlet-name>
        <servlet-class>pack1.DisplayCusTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyConnection</servlet-name>
        <servlet-class>pack1.MyConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCusTable1</servlet-name>
        <servlet-class>pack1.DisplayCusTable1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayDealTable1</servlet-name>
        <servlet-class>pack1.DisplayDealTable1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductTable</servlet-name>
        <servlet-class>pack1.DisplayProductTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vieworder</servlet-name>
        <servlet-class>pack1.vieworder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerregisprocess</servlet-name>
        <url-pattern>/customerregisprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisProcess</servlet-name>
        <url-pattern>/CustomerRegisProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealerRegisProcess</servlet-name>
        <url-pattern>/DealerRegisProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayDealTable</servlet-name>
        <url-pattern>/DisplayDealTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCusTable</servlet-name>
        <url-pattern>/DisplayCusTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyConnection</servlet-name>
        <url-pattern>/MyConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCusTable1</servlet-name>
        <url-pattern>/DisplayCusTable1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayDealTable1</servlet-name>
        <url-pattern>/DisplayDealTable1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductTable</servlet-name>
        <url-pattern>/DisplayProductTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vieworder</servlet-name>
        <url-pattern>/vieworder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
